* {
    font-family: Garamond, serif;
    background-color: rgb(243, 181, 66);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1, h2, h3, p, ul{
    text-align: center; 
}

a {
    text-decoration: none;
    background-color: rgb(241, 225, 202);
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    max-width: 500px;
}

.header{
    position:sticky;
    top: 0px;
    left: 0px;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
}

.return-home{
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: rgb(241, 225, 202);
}

h1 {
    font-size: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 52, 52);
    border: 10px double black;
}

h2 {
    font-size: 60px;
    width: 300px;
    margin-right: auto;
    margin-left:auto;
    border-bottom: 5px solid black;
}

h3 {
    font-size: 45px;
}

img {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p, ol{
    font-size: 30px;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color:rgb(241, 225, 202);
    padding: 20px;
}


li{
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color:rgb(241, 225, 202);
    max-width:1200px;
}



.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.list div{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color:rgb(241, 225, 202);
    padding-left: 80px;
    padding-right: 80px;
}

.list a{
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color:rgb(241, 225, 202);
    padding-left: 80px;
    padding-right: 80px;
}


